.colortitle{
  color:#D3B600;
}
.headerarticle {
  position: relative;
  height: 55vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
}

.headerarticle.container {
  position: relative;
  z-index: 2;
}


header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(116, 186, 216, 0.4), rgba(122, 122, 122, 0.4)), url('https://burst.shopifycdn.com/photos/black-spectacles-otop-an-open-book.jpg?width=925&amp;format=pjpg&amp;exif=0&amp;iptc=0');
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
  }

  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  .titlemobile{
    display: none;
  }
  .titleresponsive{
    display: block;
  }

  .imagelistmobile{
    display: none;
  }
  .imagelist{
    display: block;
  }
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://burst.shopifycdn.com/photos/black-spectacles-otop-an-open-book.jpg?width=925&amp;format=pjpg&amp;exif=0&amp;iptc=0') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
    .titlemobile{
      display: block;
    }
    .titleresponsive{
      display: none;
    }
    .display-3 {
      font-size: 3rem;
      line-height: 4rem;
      font-weight: 300;
      line-height: 1.2;
    }
    .card-title{
      font-size: 1.5rem;
      line-height: 4rem;
      font-weight: 300;
      line-height: 1.2;
    }
    .imagelistmobile{
      display: block;
    }
    .imagelist{
      display: none;
    }

  }

  body{
    background-color: #EEEBE9;
    position: relative;
  }

  .imagearticlesx{
    width: auto;
    height: 300px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
   /*  background-attachment: fixed; */
  }
  .imagearticledx{
    position: relative;
    left: 6.5em;
    top: 0;
    -webkit-transition: .3s ease-out all;
    transition: .3s ease-out all;
    width: auto;
    height: 300px;
  }
  .titlearticle{
    background-image: linear-gradient(to bottom, rgba(91, 119, 131, 0.1) 0%, rgba(91, 119, 131, 0.40) 100%);
    background-size: 100% .4em;
    position: relative;
    display: inline;
    background-repeat: no-repeat; 
    background-size: 100% .6em;
    background-position: 0 100%;  
   
  }

  .headarticle{
    padding: 0px;
  }

  .label-category {
    background-color: #f1f1f1;
    padding: 2px 6px;
    }
    .label-card {
      font-size:11px;
    }

    html {
      scroll-behavior: smooth;
    }

    .icon{
    opacity: 50%;
    transition:  0.9s;
    }

    .icon:hover{
      opacity: 90%;
      transition:  0.9s;
    }
    h2{
      font-size: 2.5em;
    }
    .nav-link {
      display: block;
      padding: 0.5rem 1rem;
      font-family: 'Noto Sans', sans-serif;
  }
.button{
  background-color: rgb(52, 58, 64);
  color: white;
  text-transform: uppercase;
  padding: 0.4rem;  
  font-size: 0.7rem;
  transition:  0.9s;
 
}
.button:hover::after{
  content:" >";
  font-size: 0.7rem;
  color: white;
  transition:  0.9s;
  
}
.alink{
  text-decoration: none !important;
  color: white !important;
}


.imagearticle {
  position: relative;
  height: 25vh;
  min-height: 25rem;
  width: auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hidden2{
  display: none;
}

.absolute{
  /* position: absolute;
  width: 100%;
  height: 100%; */
  background-color: rgba(30, 30, 31, 0.6);
  /* top:0%;
  left: 0% */
}
.absolute2{
  width: 100%;
  top:50%;
  left: 50%
}

h1{
  font-family: 'Playfair Display', serif;
}

h2{
  font-family: 'Playfair Display', serif;
/*   text-transform: capitalize; */
}
p{
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  line-height: 2.5rem; 
  text-align: justify; 
  letter-spacing: 0.1em;

}
.undertitle{
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  text-align: center !important;
}

.pcard{
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem  !important;
  line-height: 1rem; 
  text-align: center !important;
}
.pcardlist{
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem  !important;
  line-height: 1rem; 
  text-align: left !important;
}


h3{
    font-family: 'Playfair Display', serif;
    float: left;
    font-size: 8.4em;
    line-height: .68;
    font-weight: 100;
    margin: .05em .1em 0 0;
    text-transform: uppercase;
    font-style: normal;
}

h5{
  border-bottom:  1px solid black;
  font-family: 'Playfair Display', serif;
  padding-bottom: 0.5rem;
  margin-top:4rem;
}

h6{
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  font-style: italic;
  font-size: 0.6rem;
}

.index{
  font-family: 'Playfair Display', serif;
  text-decoration: none !important;
  color:black;
  font-size: 1.2rem;
  padding-left: 2rem;
}

.edit{
  font-size: 2.5rem;  
  font-family: 'Noto Sans', sans-serif;
}

.titleedit{
  font-size: 1.2rem; 
  text-transform: uppercase;
  font-family: 'Noto Sans', sans-serif;
}

.titlebutton{
  font-size: 0.9rem; 
  text-transform: uppercase;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none !important;
}

.textdelete{
  color: rgb(20%, 23%, 25%);
}
.textdelete:hover{
  color: rgb(86%, 21%, 27%);
  
}

.textsee{
  color: rgb(20%, 23%, 25%);
}
.textsee:hover{
  color: rgb(168, 168, 168);
  
}
.textedit{
  color: rgb(20%, 23%, 25%);
}
.textedit:hover{
  color: rgb(16%, 65%, 27%);
}

a{
  text-decoration: none !important;
 
} 

/* create book */

.line{
  border-right: 3px solid rgb(20%, 23%, 25%, 0.1);
}

.titlenewbook{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
 /*  margin-bottom: 0px; */
}

.tilteline{
  border-bottom: 5px solid #D3B600;
  margin-right: 75%;
}

.titleform{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(20%, 23%, 25%, 0.1);
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  opacity: 1;;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  opacity: 1;
}

.titlepublic{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  opacity: 1; /* Firefox */
  margin-bottom: 0%;
}

.titlepublicdescriptiion{
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.6rem;
  color:#D3B600;
  font-weight: 900;
  opacity: 1;
 
}

.buttoncreate{
  background-color: rgb(52, 58, 64);
  border-radius: 0% !important;
  color:white;
  margin-left: 0%;
}

.buttoncreate:hover{
  background-color: rgb(52, 58, 64);
  border-radius: 0% !important;
  color: #D3B600;
  margin-left: 0%;
}

.section-title {
  font-family: 'Treccani Display';
  font-weight: 400;
  font-size: 44px;
  line-height: 44px;
  position: relative;
  margin-bottom: 58px;
}

.text-center {
  text-align: center;
}

.section-title:before {
  content: '';
  top: 50%;
  height: 1px;
  background-color: rgba(112,112,112,0.5);
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section-title span {
  display: inline-block;
  background: #EEEBE9;
  padding: 0 28px;
}

.navbarr{
  position: absolute;
  top: 4%;
  left: 0;
}

.navbatbg{
  background-color: #202A2C;
}

/* login */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://burst.shopifycdn.com/photos/black-spectacles-otop-an-open-book.jpg?width=925&amp;format=pjpg&amp;exif=0&amp;iptc=0');
  background-size: cover;
  background-position: center;
}

.bg-botton{
  background-color: #D3B600;
  color: white;
  border-radius: 0px;;
}
.blink:hover{
  color:  #D3B600;
}


/* card */





.ricettaphoto{
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;  
  
}

.titoloregione{
  padding-top: 10%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(255%, 255%, 255%, 1);
  height: 325px;
  width: 50%;
  text-align: center;
/*   font-size: 1.2rem; */
  position: absolute;
  bottom: 0%;
  left: 5%;
}

.titlenotfinished{
  padding-top: 3%;
  /* padding-left: 2%;
  padding-right: 2%; */
  background-color: rgb(255%, 255%, 255%, 1);
  height: 325px;
  width: 50%;
  text-align: center;
  position: absolute;
  bottom: 0%;
  left: 25%;
}

.backgroundcolor{
  height: 100%;
  width: 100%;
  bottom: 0%;
  left: 0%;
  position: absolute;
  background-color:  rgba(0, 0, 0, 1);
}

.imageblock{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s;
  opacity: 75%;
}

.imageblock:hover{
  transform: scale(1.2);
}


.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

// Footer
.img-logo-footer {
  width:135px;
}

.no-bullets {
  list-style: none;
}

.text-thin {
  font-weight: 300;
}

.bg-blue {
  background-color: rgb(20%, 23%, 25%);
}

.button2{
color: 20%, 23%, 25%;
background-color: rgb(248, 249, 250);
border-color: rgb(248, 249, 250) !important;
border-width: 0px;
}

.button2:hover{
  color: green;
  }

.z-indexm{
  z-index: 0;
}